# Audio Processing
librosa>=0.10.1
numpy<2.0.0
scipy>=1.11.0

# Music Transcription (AI Ears)
# We force TensorFlow < 2.16 to avoid the Keras 3 "add_slot" AttributeError
basic-pitch>=0.2.4
tensorflow<2.16
pretty_midi>=0.2.10

# Instrument Separation (AI Stems)
demucs>=4.0.1
torch>=2.2.0
torchaudio>=2.2.0
# Required by newer torchaudio versions to save stems correctly
torchcodec

# LLM Orchestration
ollama>=0.1.6

# Utility
tqdm
argparse
python-dotenv